@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Roboto+Condensed&display=swap');
@import url("//db.onlinewebfonts.com/c/0e2390f9c09ab8fa102e0c15ed6ace8b?family=Grifinito+M");
/* Set all elements to use the Open Sans font */
body, input, textarea, button, select {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  background-color: whitesmoke;
}

/* Set the background color of all pages */
html, body {
  background-color: whitesmoke;
}


nav {
  background-color: royalblue;
  padding: 10px 10px 10px 10px;
  font-size: 17px;
  border-radius: 5px;
}



nav ul li {
  margin: 0 1em;
}

nav a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  transition: background-color 0.3s ease-in-out;
  font-size: large;
}

nav a:hover {
  background-color: cyan;
  font-size: 27px;
}


/* Set the spacing and layout of the nav list items */
header nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: .5em 0 1em 0;
  color: whitesmoke;
  border: #f9f9f9;
}

/* Set the style of the links in the nav */
h1.header{
  font-family: "Courier New", monospace;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  color: black;
  border-bottom: 2px solid white;
  margin-bottom: 0rem;
  font-weight: 600;

}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
  margin: 0;
  padding: .25em .5em;
}

/* Set the width on all tables */
table {
  width: 100%;
}

/* Set the size of the help text in forms */
.helptext {
  display: block;
  font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 200px;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
  align-items: center;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
  margin-top: 2em;
}

.myProjects {
  margin-top: 5;
  align-items: left;
  color: whitesmoke;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
  padding: 0.25em 1em;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  font-size: large;
  text-align: center;
  align-self: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  font-size: ;
}


.container {
  width: 500px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}


.button {
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-shadow: 2px 2px white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 15px;
  border: 3px solid #E32652;
  box-shadow: 3px 3px gray;
  font-family: "Courier New", monospace;
  letter-spacing: 0.2em;
  margin: 2 auto;
  display: block;
  background-color: #ff4081;

}
.button:hover {
  background-color: white;

}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
  background-repeat: repeat;
}

.container {
  max-width: 800px;
  border: 2px solid #000;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 10px 10px 20px #888888;
}

.myProjects {
  font-family: "Courier New", monospace;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  color: #333;
  margin-bottom: 1rem;
}


.table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.178);
}

th, td {
  text-align: left;
  padding: 4px;
}

th {
  background-color: pink;
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px white;
    text-align: center;
    text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

tr:nth-child(odd) {
  background-color: rgb(204, 201, 194);
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;

}

a:hover {
  color: royalblue;
  font-size: x-large;
}

/* Checkbox label style */
.retro-checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 2px #ccc;
  user-select: none;
}

/* Checkbox input style */
.retro-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Checkbox checkmark style */
.retro-checkbox-label span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* Checkbox checkmark on hover */
.retro-checkbox-label:hover input ~ span {
  background-color: #ccc;
}

/* Checkbox checkmark on check */
.retro-checkbox-label input:checked ~ span {
  background-color: #738ea5;
  border: 1px solid greenyellow;
}

/* Checkbox checkmark design */
.retro-checkbox-label span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Checkbox checkmark on check design */
.retro-checkbox-label input:checked ~ span:after {
  display: block;
}

/* Checkbox checkmark design */
.retro-checkbox-label span:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
