{% extends 'base.html' %}

{% block title %}
    Login!
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1 class="login">Login</h1>
            <form class="form-group" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
