{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1 class="login">Signup</h1>
            <form class="container" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button"> Signup</button>
            </form>
        </div>
    </main>
{% endblock content %}
