{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <h1 class="header">PROJECT MANAGER</h1>
            <nav>
                <ul>
                  {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'show_my_tasks' %}">MY TASKS</a>
                  </li>
                  <li>
                    <a href="{% url 'list_projects' %}">MY PROJECTS</a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}">LOGOUT</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'login' %}">LOGIN</a>
                  </li>
                  <li>
                    <a href="{% url 'signup' %}">SIGN UP</a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
    </footer>
</html>
