
{% extends 'base.html' %}

{% block title %}
    New task{{ project.title }}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'list_projects' %}">Main page</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
