{% extends 'base.html' %}

{% block title %}
    Project List
{% endblock title %}

{% block content %}
    <main>
        <div class="container">
            <div class="brandedBox_yellow">
                <div class="brandedBox_wrapper_iJpi3 xs-pt4 xs-mb6 md-mb0">
            <h1 class="myProjects">My Projects</h1>
            <p>
                <a class="button" href="{% url 'create_project' %}">new project</a>
            </p>
            {% if list_projects.all|length < 1 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th></th> <!-- checkbox column header -->
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in list_projects %}
                            <tr>
                                <td>
                                    <input class="retro-checkbox-label" type="checkbox" name="project_checkbox" value="{{ project.id }}">
                                </td> <!-- checkbox column data -->
                                <td>
                                    <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    </div>
    </main>
{% endblock content %}
